{% extends "admin.html" %}

{% block title %}Categories{% endblock %}

{% block body %}

<h1>This is Categories Page</h1>
<form action="{{ action }}" method="POST">
    <table>
        <tr>
        {% for key in title %}
        <th>{{ key }}</th>
        {% endfor %}
        </tr>
    {% for key in result %}
        <tr>
        {% for value in key %}
            <td>{{ value }}</td>
        {% endfor %}
            <td><a href="{{ action }}/edit/id/{{ key.categories_id }}">Update</a> <a href="{{ action }}/delete/id/{{ key.categories_id }}">Delete</a></td>
        </tr>
    {% endfor %}
    </table>
    <input type="submit" name="{{ submit }}" value="AddCategories"/>
</form>
{% endblock %}