    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
    
        <nav>
            <a href="{{ base_url }}/admin/products">Manage Products</a>
            <a href="{{ base_url }}/admin/categories">Manage Categories</a>
            <a href="{{ base_url }}/admin/cms/pages">Manage CMS Pages</a>
        </nav>
        {% block body %}
        {% endblock %}
    </body>
    </html>